*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
nav div a img{
    width: 120px;
}
main div img{
    width: 100%;
}
.carousel-inner{
    background-color: #bab7b7;
}
.articulo{
    font-size: 20pt;
}
.row{
    text-align: center;
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}